{% extends 'LpdwBundle::layout.html.twig' %}

{% block body %}
    <ul>
        <li>
            {{ post.content }}
        </li>
        <li>
            {{ post.author }}
        </li>
        <li>
            {{ post.visibility ? 'oui' : 'non' }}
        </li>
        <li>
            {{ post.date|date('Y-m-d') }}
        </li>
    </ul>

    {{ id }}
    {{ ko }}
{% endblock %}
